.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .img {
    object-fit: cover;
  }

  .title,
  .text {
    display: block;
  }

  .title {
    color: var(--title-color);
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 7px;
  }

  .text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
  }
}