.account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 8px 10px;
  border-radius: var(--main-radius);
  background-color: var(--profile-before-background);
  cursor: pointer;
}

.img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  color: var(--title-color);
  font-weight: 800;
  font-size: 16px;
}